.work {
  background-color: #252527;
  padding: 100px 0;
  height: 100%;
}


.filter-item {
  position: relative;
  float: left;
  width: 20rem;
  height: 25rem;
  margin: 33px;
  background: #888;
}

.card {
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.cardImg {
  background-image: url('https://image.freepik.com/free-photo/image-human-brain_99433-298.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  transition: all 0.3s ease 0s;

  &:hover {
    transform: scale(1.1);
  }
}

.cardContent {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 35px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;

  &:hover {
    opacity: 1;
  }
}

.cardInner {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-items: center;
  color: white;
  height: 100%;
  width: 100%;
}

.cardDescription {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
}

.cardDescriptionLinks, .cardDescriptioniTitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.cardDescriptioniTitle{
  font-size: 25px;
}

.filter-container {
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: repeat(5, 1fr);
  //grid-column-gap: 24px;
  //grid-row-gap: 13px;
}

.filterWrap {
  //width: 100%;
  //margin: 0 auto;
}

.workFilters {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}


.workFilters > li {
  margin-top: 40px;
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out 0s;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    background-color: #4e93e6;
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
  }

  &:hover:after {
    opacity: 1;
  }
}

.workFilters > .active {
  &:after {
    opacity: 1;
  }
}

li + li {
  margin-left: 20px;
}

.moduleLine {
  background: #4e93e6;
  width: 55px;
  height: 1px;
  margin: 30px auto;
}


@media (max-width: 1114px) {
  .filter-container{
    //width: 120%;
  }
}
@media (max-width: 398px) {
  .filter-item{
    width: 19rem;
    height: 22rem;
  }
}
@media (max-width: 368px) {
  .filter-item{
    width: 16rem;
    height: 19rem;
  }
  .cardDescription{
    font-size: 10px;
    line-height: 11px;
  }
  .cardDescriptionLinks{
    font-size: 12px;
    line-height: 14px;
  }
  .cardContent{
    padding: 20px;
  }
}
@media (max-width: 348px) {
  .filter-item{
    width: 14rem;
    height: 16rem;
    margin: 15px;
  }
}
//#1f1f20
