html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}

html {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.header {
  background-color: white;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 30px;
}